.layout-header {
  background-color: white;
  /*border-bottom-width: 1px;*/
  height: 64px;
  position: sticky;
  top: 0;
}

.layout-main {
  /*border-left-width: 1px;
  border-right-width: 1px;*/
  margin: 0 auto;
  max-width: 660px;
  min-height: calc(100vh - 128px);
}

.layout-title {
  align-items: center;
  text-align: center;
  height: 52px;
  padding: 0 15px;
  background-color: #f1f0eb;
  border-radius: 10px;
  color: #036fe3;
}

.layout-footer {
  align-items: center;
  border-top-width: 1px;
  display: flex;
  height: 64px;
}

.layout-header,
.layout-footer {
  padding: 0 40px;
  background-color:#072b52;
}


.advertsList{
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
}

.articule{
  margin: 15px;
  border-color: gray;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.3rem;
}

div.layuout{
  background-color: rgb(124, 121, 121);
}

.input-filter{
  background-color: antiquewhite;
  border-radius: 8px;
  text-align: center;
  margin: 10px 10px;
}

.form-filter{
  margin: 15px;
    background-color: #9ac2ed;
    border-radius: 6px;
    padding: 5px;
}

.not404{
  padding-top: 100px;
  font-size: 3rem;
}

.AdvertsPage_advertsPage__1yGvB{
  background-color: white;
}